.price_section .container{
    position: relative;
        border-radius: 10px;
    background: linear-gradient(95deg, #CFC094 30.71%, #DFD7BF 96.89%);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    /*width: 1000px;*/
}
.a{
height: 40px;
width: 40px;
margin: 5px;
}
.row img{
object-fit: cover; 
}

.row .price_p p{
    margin-top: 40px;
    color: #3F2305;
    font-family: Crete Round, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  margin-left: 54px;
}
.row .price_p h3{
    margin-top: 20px;
    color: #3F2305;
    font-family: Crete Round, serif;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 54px;


}

/*.row .rating-section .a{*/
/*    margin-left: 20px;*/
/*}*/
.row   .button {
    margin-top: 103px;

    /*margin-left: 32px;*/
    min-width: 130px;
    height: 50px;
    border-radius: 5px;
    background: #3F2305;
    color: #FFF;
    font-family: Crete Round, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.button a {
    color: #FFF;
    text-decoration: none;
   
text-align: center;
}


@media (max-width: 576px) {

    .row .price_p p{
        margin-top: 5px;

        margin-left: 10px;
    }
    .row .price_p h3{
        margin-top: 10px;
        margin-left: 10px;


    }
    .row   .button {
        margin-top: 10px;

    }
    .price_section{
        margin-top:120px

    }
}